
.content_2{
    display: flex;
    padding-top: 29px;
    padding-left: 134px;

}

.content_2_title{
    font-family: "Rubik";

    font-weight: bold;
    font-size: 24px;

    align-items: center;
    letter-spacing: 0.1em;

    padding-top: 101px;
    padding-bottom: 40px;

    color: #EE4D47;

    animation-duration: 3s;
    animation-name: slidein_2;
}

@keyframes slidein_2 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.content_2_text{
    font-family: "Rubik";
    
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;

    color: #402B2B;

    width: 455px;
}



@media screen and (max-width: 321px) {
  .content_2{
      display: block;
      padding-left: 0px;
      margin: auto;
      
  }

  .content_2_illustration{
    position: relative;
    width: 320px;
  }

  .content_2_text{
    padding-left: 10px;
    padding-right: 10px;
    width: 310px;
}

.content_2_title{
    text-align: center;
    padding-top: 10px;
}
}