.content_1{
    display: flex;
    padding-left: 251px;

}

.content_1_title{
    font-family: "Rubik";

    font-weight: bold;
    font-size: 24px;

    align-items: center;
    letter-spacing: 0.1em;

    padding-bottom: 40px;

    color: #EE4D47;

    animation-duration: 3s;
    animation-name: slidein_1;
}


@keyframes slidein_1 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.content_1_text{
    font-family: "Rubik";
    
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;

    color: #402B2B;

    width: 470px;

    padding-bottom: 70px;
}

.content_1_paragraph{
    padding-top: 74px;
}

.content_1_box{
    background-color: #FCDDD4;
    width: 570px;
    height: 160px;
    display: flex;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content_1_box_left{
    background-color: #ED4D47;
    width: 10px;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content_1_box_text{
    width: 460px;

    font-family: "Rubik";

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    padding-top: 30px;
    padding-left: 55px;

    color: #402B2B;
}


@media screen and (max-width: 321px) {
    .content_1{
        display: block;
        padding-left: 10px;
    }
    
    .content_1_box{
        background-color: #FCDDD4;
        width: 300px;
        height: 160px;
        display: flex;
        
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .content_1_box_text{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;


        width: 320px;
        font-size: 18px;
        line-height: 31px;
    }

    .content_1_illustration{
        width: 320px;
    }

    .content_1_text{
        
        padding-right: 10px;
        width: 310px;
        padding-bottom: 20px;
    }

    .content_1_title{
        text-align: center;
    }


}